<% layout('layouts/boilerplate') %>

    <ul>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Maple Tree
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate id doloremque, debitis
                            blanditiis quae ducimus unde corrupti consectetur quisquam repellat inventore quibusdam,
                            deserunt iusto modi at illo molestiae assumenda eos.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Florida
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds ">
                            View
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </ul>